body{

background-color: rgb(238, 196, 151);
font: normal 15px Arial;

}

header{

    font: normal 15px Arial;
    text-align: center;
    color: white;
}

section{ 

background-color: white;
text-align: center;
border-radius: 20px;
padding: 15px;
width: 500px;
margin:auto;
box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.385)
}


footer{ 
    text-align: center;
    color: white;
    font-style: italic;
    
}


