* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    border: 0;
}

.gridContainer {
    display: grid;
    width: 100%;
    height: 100vh;
    padding: 10px;
    grid-template-columns: 70% 30%;
    grid-template-rows: 50px 1fr;
    gap: 5px;
    grid-template-areas: "header header" "main aside";
}

.gridItem {
    /* border: 1px solid rgb(214, 16, 16); */
    border-radius: 15px;
    background-color: rgb(176, 238, 191);
}

.header {
    grid-area: header;
    text-align: center;
    color: red;
}

.main {
    grid-area: main;
}

.aside {
    grid-area: aside;
}

.video {
    width: 100%;
}

.imagem {
    width: 100%;
    padding: 10px;
    height: 500px;
    border-radius: 25px;
}

.titulo {
    font-size: 1.5em;
    font-weight: bold;
    padding: 10px;
}

.subtitulo {
    font-size: 1.1em;
    font-weight: none;
    padding: 10px;
}

.operacoes {
    display: flex;
    flex-direction: row;
    margin: 10px;
}

.descricao {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-left: 10px;
}