div {
    background-image: url("img.png");
    width: 800px;
    height: 1280px;
    border: 10px rgb(220, 20, 143) solid;
    border-radius: 30px;    
    margin: 200px;
}

.Gi{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: rgb(220, 20, 143);
    text-align: center;
}

.meubotao{ 

    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: rgb(220, 20, 143);
    position: center;
    margin-left: 350px;


}